*{
    margin :0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f5f6fa;
    color: white;
}

.container{
    padding: 0 10%
}

/* Navbar START */
#navbar{
    background-color: #2f3640;
    position: fixed;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 0;
}

.logo{
    height: 50px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px
}

nav ul li a{
    color : #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a:hover{
    color : #f5f6fa;
    font-weight: bold;
}
/* Navbar END */

/* header */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(https://images6.alphacoders.com/643/643522.jpg);
    background-size: cover ;
    background-position: center;
}

.header-text{
    font-size: 30px;
    padding: 20% 0;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
/* Header - END */

/* About - START*/
#about{
    padding: 80px;
    color:#353b48;
}

.about-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 70%;
    border-radius: 50%;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    text-decoration: underline;
    font-size: 60px;
    text-decoration-thickness: 3px;
}

#about .sub-title{
    text-decoration-color: #dcdde1;
}

.tab-titles{
    display : flex;
    margin: 20px 0 40px;
}

.tab-links{
    color:#353b48;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    
}

.tab-links:hover{
    color: #40739e;
    font-weight: bold;
}
/* About - END*/

/* Education - START*/
#education{
    padding: 80px;
    background-color: #487eb0;
}

#education .sub-title{
    text-align: center;
    text-decoration-color: #40739e;
}

.education-section{
    display: flex;
    flex-direction: column;
}

.education-box{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
}

.education-box:hover{
    background-color: #40739e;
}

.education-box img{
    height: 100px;
}

.education-box-col-1{
    margin-right: 10px;
}

.education-box-col-2{

}

.education-title{
    display: flex;
    justify-content: space-between;
}

.education-box h3{
    margin-bottom: 5px;
}

.education-date{
    color: #f5f6fa;
    font-style: italic;
}

.education-name{
    color: #f5f6fa;
    margin-bottom: 5px;
    font-style: italic;
}
/* Education - END*/

#skill{
    padding: 80px;
    color:#353b48;
}

#skill .sub-title{
    text-align: center;
    text-decoration-color: #dcdde1;
}